@model List<WebApplication1.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2>商品列表</h2>
@if (ViewBag.ResultMessage != null)
{
    @Html.Label("info", (string)ViewBag.ResultMessage, new { @class = "text-info"})
}
<table class="table">
    <thead><tr><td>編號</td><td>名稱</td><td>描述</td><td>售價</td><td>庫存</td></tr></thead>
    <tbody>
        @foreach (var pd in this.Model)
        {
        <tr>
            <td>
                @Html.ActionLink(
                    "編輯", "Edit", new { id = pd.Id }, new { @class = "btn btn-default"}
               )
                @using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { @class = "Delete" }))
                {
                    @Html.Hidden("id", pd.Id)
                    <input type="submit" value="刪除" class="btn btn-default"/>
                }
            </td>
            <td>@pd.Id</td>
            <td>@pd.Name</td>
            <td>@pd.Description</td>
            <td>@pd.Price</td>
            <td>@pd.Quantity</td>
        </tr>
        }
    </tbody>
</table>

